[General]
Name=Cxx Basic
Name[bs]=Cxx Basic
Name[ca]=Cxx Bàsica
Name[ca@valencia]=Cxx Bàsica
Name[cs]=Cxx Basic
Name[da]=Cxx Simpel
Name[de]=Cxx Einfach
Name[el]=Cxx Βασική
Name[en_GB]=Cxx Basic
Name[es]=Cxx Básica
Name[et]=Cxx Lihtne
Name[fi]=Cxx Yksinkertainen
Name[fr]=Cxx De base
Name[ga]=Cxx Bunúsach
Name[gl]=Cxx Básico
Name[hu]=Cxx Alap
Name[it]=Cxx Base
Name[kk]=Cxx Негізгі
Name[mr]=Cxx बेसिक
Name[nb]=Cxx Enkel
Name[nl]=Cxx Basis
Name[pl]=Cxx Podstawowa
Name[pt]=Cxx Básico
Name[pt_BR]=Cxx Básico
Name[ru]=Cxx Простой класс
Name[sk]=Cxx Základné
Name[sl]=Cxx Osnovno
Name[sv]=Cxx Enkel
Name[tr]=Cxx Temel
Name[ug]=Cxx ئاساس
Name[uk]=Cxx Базовий
Name[x-test]=Cxx xxBasicxx
Name[zh_CN]=Cxx 基本
Name[zh_TW]=Cxx 基本
Comment=Basic Cxx Class
Comment[bs]=Osnovna Cxx Cklasa
Comment[ca]=Classe Cxx bàsica
Comment[ca@valencia]=Classe Cxx bàsica
Comment[cs]=Základní třída Cxx
Comment[da]=Simpel Cxx-klasse
Comment[de]=Einfache Cxx-Klasse
Comment[el]=Βασική Cxx Class
Comment[en_GB]=Basic Cxx Class
Comment[es]=Clase de Cxx básica
Comment[et]=Cxx lihtklass
Comment[fi]=Yksinkertainen Cxx-luokka
Comment[fr]=Classe de base Cxx
Comment[gl]=Clase básica para Cxx
Comment[hu]=Alap Cxx osztály
Comment[it]=Classe base in Cxx
Comment[kk]=Негізгі Сxx класы
Comment[nb]=Enkel Cxx-klasse
Comment[nl]=Basis Cxx klasse
Comment[pl]=Podstawowa klasa Cxx
Comment[pt]=Classe Básica em Cxx
Comment[pt_BR]=Classe básica em Cxx
Comment[ru]=Простой класс Cxx
Comment[sk]=Základná Cxx trieda
Comment[sl]=Osnovni razred Cxx
Comment[sv]=Enkel Cxx klass
Comment[tr]=Temel Cxx Sınıfı
Comment[uk]=Базовий клас Cxx
Comment[x-test]=xxBasic Cxx Classxx
Comment[zh_CN]=基本 Cxx 类
Comment[zh_TW]=基本 Cxx 類別
Category=Cxx/Basic
Language=Cxx
Language[bs]=Cxx
Language[ca]=Cxx
Language[ca@valencia]=Cxx
Language[cs]=Cxx
Language[da]=Cxx
Language[de]=Cxx
Language[el]=Cxx
Language[en_GB]=Cxx
Language[es]=Cxx
Language[et]=Cxx
Language[fi]=Cxx
Language[fr]=Cxx
Language[ga]=Cxx
Language[gl]=Cxx
Language[hu]=Cxx
Language[it]=Cxx
Language[kk]=Cxx
Language[mr]=Cxx
Language[nb]=Cxx
Language[nds]=Cxx
Language[nl]=Cxx
Language[nn]=Cxx
Language[pl]=Cxx
Language[pt]=Cxx
Language[pt_BR]=Cxx
Language[ru]=Cxx
Language[se]=Cxx
Language[sk]=Cxx
Language[sl]=Cxx
Language[sv]=Cxx
Language[tr]=Cxx
Language[ug]=Cxx
Language[uk]=Cxx
Language[x-test]=xxCxxxx
Language[zh_CN]=Cxx
Language[zh_TW]=Cxx
Type=Class
Files=Header,Implementation

[Header]
Name=Header
Name[bs]=Zaglavlje
Name[ca]=Capçalera
Name[ca@valencia]=Capçalera
Name[da]=Header
Name[de]=Header
Name[el]=Header
Name[en_GB]=Header
Name[es]=Cabecera
Name[et]=Päis
Name[fi]=Otsikkotiedosto
Name[fr]=En-tête
Name[gl]=Cabeceira
Name[hu]=Fejléc
Name[it]=Intestazione
Name[kk]=Айдар
Name[mr]=हेडर
Name[nb]=Hode
Name[nl]=Kop
Name[pl]=Nagłówek
Name[pt]=Inclusão
Name[pt_BR]=Cabeçalho
Name[ru]=Заголовок
Name[sk]=Hlavička
Name[sl]=Glava
Name[sv]=Deklaration
Name[tr]=Başlık
Name[ug]=بەت قېشى
Name[uk]=Заголовок
Name[x-test]=xxHeaderxx
Name[zh_CN]=头文件
Name[zh_TW]=標頭
File=libcxx_class.hxx
OutputFile={{ name }}.hxx

[Implementation]
Name=Implementation
Name[bs]=Implementacija
Name[ca]=Implementació
Name[ca@valencia]=Implementació
Name[cs]=Implementace
Name[da]=Implementering
Name[de]=Implementation
Name[el]=Υλοποίηση
Name[en_GB]=Implementation
Name[es]=Implementación
Name[et]=Teostus
Name[fi]=Toteutus
Name[fr]=Implémentation
Name[gl]=Implementación
Name[hu]=Megvalósítás
Name[it]=Implementazione
Name[kk]=Іске асыруы
Name[nb]=Implementering
Name[nds]=Ümsetten
Name[nl]=Implementatie
Name[pl]=Implementacja
Name[pt]=Implementação
Name[pt_BR]=Implementação
Name[ru]=Реализация
Name[sk]=Implementácia
Name[sl]=Izvedba
Name[sv]=Implementering
Name[tr]=Gerçekleme
Name[ug]=ئەمەلگە ئاشۇرۇش
Name[uk]=Реалізація
Name[x-test]=xxImplementationxx
Name[zh_CN]=实现
Name[zh_TW]=實作
File=libcxx_class.cxx
OutputFile={{ name }}.cxx
